## export functions
export(
  getdatastates,
  getdataworld,
  getdataitaly,
  getdata,
  plot1,
  plot2,
  regions,
  my_plot,
  walomb_plot,
  updatewebpage
)

## Imports
import(ggplot2)
import(stringr)
